# Copyright 2016, 2017 Peter Dimov
# Copyright 2019 Andrey Semashev
# Distributed under the Boost Software License, Version 1.0.
# (See accompanying file LICENSE_1_0.txt or copy at http://boost.org/LICENSE_1_0.txt)

version: 1.0.{build}-{branch}

shallow_clone: true

branches:
  only:
    - master
    - develop
    - /feature\/.*/

environment:
  matrix:
    - TOOLSET: msvc-9.0,msvc-10.0,msvc-11.0,msvc-12.0
      ADDRMD: 32
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
    - TOOLSET: msvc-14.0
      ADDRMD: 32,64
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
    - TOOLSET: msvc-14.1
      CXXSTD: 14,17
      ADDRMD: 32,64
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
    - TOOLSET: msvc-14.2
      ADDRMD: 32,64
      CXXSTD: 14,17
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019
# clang-win fails to link the library
#    - TOOLSET: clang-win
#      ADDRMD: 32,64
#      CXXSTD: 14,17
#      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
    - TOOLSET: gcc
      CXXSTD: 03,11,14,1z
      ADDPATH: C:\cygwin\bin;
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
    - TOOLSET: gcc
      CXXSTD: 03,11,14,1z
      ADDPATH: C:\cygwin64\bin;
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
    - TOOLSET: gcc
      CXXSTD: 03,11,14,1z
      ADDPATH: C:\mingw\bin;
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
    - TOOLSET: gcc
      CXXSTD: 03,11,14,1z
      ADDPATH: C:\mingw-w64\x86_64-6.3.0-posix-seh-rt_v5-rev1\mingw64\bin;
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
    - TOOLSET: gcc
      CXXSTD: 03,11,14,1z
      ADDPATH: C:\mingw-w64\x86_64-7.3.0-posix-seh-rt_v5-rev0\mingw64\bin;
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2015
    - TEST_CMAKE: 1
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2019

install:
  - set GIT_FETCH_JOBS=8
  - set BOOST_BRANCH=develop
  - if "%APPVEYOR_REPO_BRANCH%" == "master" set BOOST_BRANCH=master
  - cd ..
  - git clone -b %BOOST_BRANCH% --depth 1 https://github.com/boostorg/boost.git boost-root
  - cd boost-root
  - git submodule init tools/build
  - git submodule init tools/boostdep
  - git submodule init tools/boost_install
  - git submodule init libs/headers
  - git submodule init libs/config
  - git submodule update --jobs %GIT_FETCH_JOBS%
  - xcopy /s /e /q %APPVEYOR_BUILD_FOLDER% libs\filesystem
  - python tools/boostdep/depinst/depinst.py --git_args "--jobs %GIT_FETCH_JOBS%" filesystem
  - cmd /c bootstrap
  - b2 -d0 headers

build: off

test_script:
  - PATH=%ADDPATH%%PATH%
  - if not "%CXXSTD%" == "" set CXXSTD=cxxstd=%CXXSTD%
  - if not "%ADDRMD%" == "" set ADDRMD=address-model=%ADDRMD%
  - b2 -j %NUMBER_OF_PROCESSORS% libs/filesystem/test toolset=%TOOLSET% %CXXSTD% %ADDRMD%

for:
  - matrix:
      only: [TEST_CMAKE: 1]
    test_script:
      - mkdir __build_static__
      - cd __build_static__
      - cmake ../libs/filesystem/test/test_cmake
      - cmake --build . --target boost_filesystem_cmake_self_test -j %NUMBER_OF_PROCESSORS%
      - cd ..
      - mkdir __build_shared__
      - cd __build_shared__
      - cmake -DBUILD_SHARED_LIBS=On ../libs/filesystem/test/test_cmake
      - cmake --build . --target boost_filesystem_cmake_self_test -j %NUMBER_OF_PROCESSORS%
